{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-use-before-define": 0,
    "import/no-unresolved": 0,
    "no-restricted-syntax": 0,
    "no-param-reassign": ["error", { "props": false }],
    "object-literal-sort-keys": false,
    "react/prefer-stateless-function": 0,
    "react/jsx-indent": [1, "tab"],
    "react/jsx-indent-props": [1, "tab"],
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": 0
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}
